.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-end;
}

.mic:hover{
    opacity: 0.8;
    
}
.mic{
  width: 100px;
  margin-left: 20px;
}
